body
{
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */

}

.flex-box 
{
    width: 100%;
    height: auto;
    display: flex;
    /* flex-direction: column; */
    flex-direction: row; 
    /* display: inline-block; */
}
.flx 
{
    width: 200px;
    height: 200px;
    background-color: lightgray;
    margin: 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px aqua;
    /* display: inline-block; */
}