<<<<<<< HEAD
body 
{
    background-color: yellowgreen;
}
h1 
{
    color: red;
    font-size: 85px;
=======
body 
{
    background-color: yellowgreen;
}
h1 
{
    color: red;
    font-size: 85px;
>>>>>>> 224642cb4668032ca725420d3bcea9294432225e
}